.signin .row {
    justify-content: center;
    align-items: center;
    background-image: url('../../../../assets/img/bgblack.jpg');
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 100vh;
}

.sign-in {
    font-size: 30px;
    color: var(--primary);
    font-weight: 800;
    -webkit-text-stroke: 1px var(--black)
}

.signup {
    background: var(--white);
    padding: 35px 50px;
    border-radius: 20px;
}