<div>
    <div *ngFor="let search of mysearchList">
        <div class="my-search">
            <p class="fw-bold py-2 px-2"> Automobile ({{search.Automobile}})</p>
        </div>
        <div class="my-search">
            <p class="fw-bold py-2 px-2"> Classifieds ({{search.Classifieds}})</p>
        </div>
        <div class="my-search">
            <p class="fw-bold py-2 px-2"> Property for Sale ({{search.PropertyforSale}})</p>
        </div>
        <div class="my-search">
            <p class="fw-bold py-2 px-2"> Property for Rent ({{search.PropertyforRent}})</p>
        </div>
        <div class="my-search">
            <p class="fw-bold py-2 px-2"> Jobs ({{search.Jobs}})</p>
        </div>
        <div class="my-search">
            <p class="fw-bold py-2 px-2"> Jobs Wanted ({{search.JobsWanted}})</p>
        </div>
    </div>
</div>