<div class="row justify-content-center py-5">
  <div class="col">   
    <div class="row">
        <div class="col-6">
          <div style="display: block">
              <canvas baseChart
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"                 
                [legend]="barChartLegend"
                [chartType]="barChartType">
              </canvas>
            </div>
        </div>
        <div class="col-6">
          <div style="display: block">
              <div class="chart">
                  <canvas baseChart
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                     [colors]="pieChartColors"
                    [legend]="pieChartLegend">
                  </canvas>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>