<div class="modal-header">
    <small class="modal-title pull-left"><i class="fas fa-file-image"></i> Photo</small>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form method="get" action="">       
       <!-- <div class="container-fluid ">
<img *ngFor='let url of urls' [src]="url" height="100px">
<input type="file" (change)="onselect($event)" multiple>
       </div> -->
       <div>
        <input class="form-check-input me-3" type="checkbox" value="" id="flexCheckChecked" >
        <label class="form-check-label" for="flexCheckChecked">
            Sort images by order of clicking
        </label>
       </div>
       <div class="py-5">
        <input class="form-control form-control-sm" type="file" id="formFileMultiple" multiple>
       </div>
       <div>
        <button type="button" class="btn btn-primary btn-sm me-2"> <i class="fas fa-plus-circle me-2"></i> Upload Images</button>
        <button type="button" class="btn btn-primary  btn-sm me-2"> <i class="fas fa-plus-circle me-2"></i> Image Bank</button>
        <div><small class="py-2">Press CTRL key while selecting images to upload multiple images at once (JPEG/Png, Min 800x600)
            The images highlighted with a yellow border are low quality images.</small></div>
       </div>
    </form>

</div>

<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="bsModalRef.hide()">Close</button>
    <button type="button" class="btn btn-primary" >Done</button>
</div>