<form  #rentcommercial="ngForm" class="sub-tab">
  {{rentcommercial.value | json }}
  <div class="px-4 py-3 paddingsubtab">
      <div class="row w-100">
        <div class="col-5">
          <div class="row">
            <div class="col-6 p-0 m-0">
              <div class="tab-label">
                <label>City</label>
                <div class="dubai">
                  <ng-select [items]="cityList" name="city" appendTo="body" #city="ngModel" required
                  [(ngModel)]="rentForCommercial.city" placeholder="All City">
                </ng-select>  
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="tab-label">
                <label class="text-white text-start">Location</label>
                <div class="input-group">
                  <input type="text"  name="Location" #Location="ngModel" required [(ngModel)]="rentForCommercial.Location" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="tab-label">
            <label class="text-white text-start">Property Type</label>
            <ng-select [items]="propertyTypeCommercial" name="propertyType" #propertyType="ngModel" required
            [(ngModel)]="rentForCommercial.propertyType" placeholder="All Type">
          </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="tab-label">
            <label class="text-white text-start">Price Range</label>
          </div>
          <div class="price-range">
            <nav class="
                navbar navbar-expand-lg navbar-dark
                p-0
              ">
              <div class="container-fluid p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="
                          nav-link
                          text-darkdropdown-toggle
                        " href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Any
                        <i class="fas fa-caret-down"></i>
                      </a>
                      <ul class="
                          dropdown-menu
                          dropdown-menu-light
                        " aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                          <a class="dropdown-item">
                            <span>
                              <div class="row">
                                <div class="col">
                                  <label>min</label>
                                  <div >
                                    <input type="number" id="quantity" name="quantity" min="1"
                                      max="5" name="mincommercialprice" #mincommercialprice="ngModel" required
                                      [(ngModel)]="rentForCommercial.mincommercialprice"/> &nbsp; &nbsp;<label>-</label>
                                  </div>
                                </div>
                                <div class="col">
                                  <label>max</label>
                                  <div >
                                    <input type="number" id="quantity" name="quantity" min="1"
                                      max="5" name="maxcommercialprice" #maxcommercialprice="ngModel" required
                                      [(ngModel)]="rentForCommercial.maxcommercialprice"/>
                                  </div>
                                </div>
                              </div>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-2">
          <div class="tab-label">
            <label class="text-white text-start"></label>
          </div>
          <div class="more">
            <nav class="
                navbar navbar-expand-lg navbar-dark
                p-0
              ">
              <div class="container-fluid p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="
                          nav-link
                          text-darkdropdown-toggle
                        " href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                        <i class="fas fa-caret-down"></i>
                      </a>
                      <ul id="more-scroll" class="
                          dropdown-menu
                          dropdown-menu-light
                          p-4
                        " aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                          <a class="dropdown-item">
                            <span>Amenities</span><br />
                            <div class="row">
                              <div class="col-6">
                                <div >
                                  <input type="checkbox" id="conference-room"
                                    name="conference-room"  value="conferenceroom" name="conferenceroom"  #conferenceroom="ngModel" required [(ngModel)]="rentForCommercial.conferenceroom" />&nbsp;
                                  <label for="conference-room">
                                    Conference
                                    Room</label><br />
                                  <input type="checkbox" id="available-fuenished"
                                  name="availablefuenished" #availablefuenished="ngModel" [(ngModel)]="rentForCommercial.availablefuenished" value="available-fuenished" />
                                  <label for="available-fuenished">
                                    Available
                                    Fuenished</label><br />
                                  <input type="checkbox" id="shared-gym" name="sharedgym"  #sharedgym="ngModel"
                                  required [(ngModel)]="rentForCommercial.sharedgym"
                                    value="sharedgym" />
                                  <label for="shared-gym">Shared Gym</label><br />
                                  <input type="checkbox" id="dining-in-building"
                                  name="dininginbuilding"  #dininginbuilding="ngModel"
                                  required [(ngModel)]="rentForCommercial.dininginbuilding" value="dininginbuilding" />
                                  <label for="dining-in-building">
                                    Dining in Building </label><br />
                                  <input type="checkbox" name="viewofwater"  #viewofwater="ngModel"
                                  required [(ngModel)]="rentForCommercial.viewofwater" 
                                    value="viewofwater" />
                                  <label for="view-of-water">
                                    View of Water</label><br />
                                </div>
                              </div>
                              <div class="col-6">
                                <div >
                                  <input type="checkbox" id="covered-parking"
                                  name="coveredparking"  #coveredparking="ngModel"
                                  required [(ngModel)]="rentForCommercial.coveredparking" />&nbsp;
                                  <label for="covered-parking">Covered
                                    Parking</label><br />
                                  <input type="checkbox"  name="availablenetworked"  #availablenetworked="ngModel"
                                  required [(ngModel)]="rentForCommercial.availablenetworked" value="availablenetworked" />
                                  <label for="available-networked">
                                    Available
                                    Networked</label><br />
                                  <input type="checkbox" id="shared-spa" name="sharedspa"
                                  value="shared-spa"  #sharedspa="ngModel"
                                  required [(ngModel)]="rentForCommercial.sharedspa"/>
                                  <label for="shared-spa">Shared Spa </label><br />
                                  <input type="checkbox" id="retail-in-building"
                                    name="retail-in-building" value="retail-in-building" />
                                  <label for="retail-in-building">
                                    Retail in
                                    Building</label><br />
                                  <input type="checkbox" id="shared-spa" name="shared-spa"
                                    value="shared-spa" />
                                  <label for="shared-spa">
                                    View of
                                    Landmark</label><br />
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <div>Keyword Search</div>
                          <div class="search-bar">
                            <input class="form-control me-2" type="search"
                              placeholder="Eg:Pool,Security,Ref ID Number"
                              aria-label="Search" name="keywordSearch" #keywordSearch="ngModel" [(ngModel)]="rentForCommercial.keywordSearch" />
                          </div>
                          <br />
                        </li>
                        <li>
                          <div>Listed By</div>
                          <a class="dropdown-item" href="#">
                            <div class="row">
                              <div class="col-6">
                                <div >
                                  <input type="checkbox" id="agent" ame="agent"
                                  value="agent" #agent="ngModel" [(ngModel)]="rentForCommercial.agent" />&nbsp;
                                  <label for="agent">Agent</label><br />
                                  <input type="checkbox"name="landlord"
                                  value="landlord" #landlord="ngModel" [(ngModel)]="rentForCommercial.landlord" />
                                  <label for="landlord">Landlord</label><br />
                                </div>
                              </div>
                              <div class="col-6">
                                <div >
                                  <input type="checkbox" name="developer"
                                  value="developer" #developer="ngModel"  [(ngModel)]="rentForCommercial.developer" />&nbsp;
                                  <label for="developer">Developer</label><br />
                                </div>
                              </div>
                            </div>
                          </a><br />
                        </li>
                        <li>
                          <div>Bathrooms</div>
                          <a class="dropdown-item">
                            <ng-select [items]="bedList" name="bathrooms" appendTo="body" #bathrooms="ngModel" required
                            [(ngModel)]="rentForCommercial.bathrooms" placeholder="Any Bathrooms">
                          </ng-select><br /><br />
                          </a>
                        </li>
                        <li>
                          <div>Size (Sqft)</div>
                          <a class="dropdown-item">
                            <span class="size">
                              <div class="row">
                                <div class="col">
                                  <label>min Bedrooms</label>
                                  <div >
                                    <input type="number" id="quantity" name="quantity" min="1"
                                      max="5" name="minbathrooms" #minbathrooms="ngModel"
                                      required [(ngModel)]="rentForCommercial.minbathrooms" />
                                    &nbsp; &nbsp; &nbsp;
                                    &nbsp;<label>-</label>
                                  </div>
                                </div>
  
                                <div class="col">
                                  <label>max Bedrooms</label>
                                  <div >
                                    <input type="number" id="quantity" name="quantity" min="1"
                                      max="5"   name="maxbathrooms" #maxbathrooms="ngModel"
                                      [(ngModel)]="rentForCommercial.maxbathrooms" />
                                  </div>
                                </div>
                              </div>
                            </span>
                          </a>
                        </li>
                        <li>
                          <div>Real Estate Agent</div>
                          <a class="dropdown-item">
                            <div class="search-bar">
                              <input class="
                                  form-control
                                  me-2
                                " type="search" name="RealEstateAgent" #RealEstateAgent="ngModel" [(ngModel)]=
                                "rentForCommercial.RealEstateAgent" placeholder="Eg Property"
                                aria-label="Search"  />
                            </div>
                            <br />
                          </a>
                        </li>
                        <li>
                          <div>Verified ads only</div>
                          <a class="dropdown-item">
                            <div >
                              <input type="checkbox" id="verified-ads-only"
                              name="verifiedadsonly" #verifiedadsonly="ngModel" [(ngModel)]="rentForCommercial.verifiedadsonly" value="verified-ads-only" />&nbsp;
                              <label for="verified-ads-only">Verified ads
                                only</label><br />
                            </div>
                          </a><br />
                        </li>
                        <li>
                          <div>Ads with video only</div>
                          <a class="dropdown-item">
                            <div >
                              <input type="checkbox" id="ads-with-video-only"
                              name="adswithvideoonly" #adswithvideoonly="ngModel" [(ngModel)]="rentForCommercial.adswithvideoonly" value="ads-with-video-only" />&nbsp;
                              <label for="ads-with-video-only">Ads with video
                                only</label><br />
                            </div>
                          </a><br />
                        </li>
                        <li>
                          <div>
                            Ads with 360 tour only
                          </div>
                          <a class="dropdown-item">
                            <div >
                              <input type="checkbox" id="ads-with-tour-only"
                              name="adswithtouronly" #adswithtouronly="ngModel" [(ngModel)]="rentForCommercial.adswithtouronly" />&nbsp;
                              <label for="ads-with-tour-only">Ads with 360 tour
                                only</label><br />
                            </div>
                          </a><br />
                        </li>
                        <li>
                          <a class="dropdown-item">
                            <button type="button" class="btn btn-primary">
                              Search
                            </button> </a><br />
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-1">
          <div class="tab-label">
            <label class="text-white text-start"></label>
            <button type="submit" class="btn btn-primary">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>