<div class="px-3 py-3 bg-dark">
    <div class="brokerpad text-light">
        <div class="row">
            <div class="col-2">
                <h2 class="px-3"  [routerLink]="['../home']">JEEE1</h2>
            </div>
            <div class="col-4">
                <p class="pt-2 fs-5">Royal Class Properties - Broker | &nbsp;<i class="far fa-question-circle"></i> &nbsp;</p>
            </div>
            <div class="col-6 text-end">
                <div class="btn-group" dropdown>
                    <button id="button-basic" dropdownToggle type="button" class="btn btn-light  dropdown-toggle px-5" aria-controls="dropdown-basic">
                        JEEE1
                        <span class="caret"></span>
                    </button>
                    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                        <li role="menuitem"><a class="dropdown-item" href="#">My Ads</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">My Favourites</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">My Searches</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">My Profile</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">My Chats</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Change Avatar</a></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Account Setting</a></li>
                        <li class="divider dropdown-divider"></li>
                        <li role="menuitem"><a class="dropdown-item" href="#">Logout</a>
                        </li>
                    </ul>
                </div>
                <button type="button" class="btn btn-outline-secondary bg-dark mx-3">Learn  the New Dashboard</button>
            </div>
        </div>
    </div>
</div>