<div class="header">
    <div class="container-fluid header-overlay">
        <div class="row w-100">
            <div class="col-4  ">
                <nav class="navbar navbar-expand-lg navbar-light header-bg">
                    <!-- <a class="navbar-brand" href="#"><img src="../../../assets/img/goldenjeee1.png" WIDTH="150PX"></a> -->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse leftnav" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <div class="dropdown location ps-2">
                                <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                                  Location
                                </button>
                                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
                                    <li><a class="dropdown-item active" href="#">Dubai</a></li>
                                    <li><a class="dropdown-item" href="#">Abu Dhabi</a></li>
                                    <li><a class="dropdown-item" href="#">Ras sal Khaimah</a></li>
                                    <li><a class="dropdown-item" href="#">Sharjah</a></li>
                                    <li><a class="dropdown-item" href="#">Ajman</a></li>
                                    <li><a class="dropdown-item" href="#">Fujairah</a></li>
                                    <li><a class="dropdown-item" href="#">Umm al Quawain</a></li>
                                    <li><a class="dropdown-item" href="#">Al Ain</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <!-- <li><a class="dropdown-item" href="#">Slink</a></li> -->
                                </ul>
                            </div>
                            <li class="nav-item active">
                                <a class="nav-link text-light" href="#">Chat <i class="far fa-comment-dots"></i><span class="sr-only">(current)</span></a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" href="#">Features</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li> -->
                        </ul>
                    </div>

                </nav>
            </div>
            <div class="col-4 p-0">
                <div class="logo text-center">
                    <a href="#"><img src="../../../assets/logo/jeee1red.png" width="300px;"></a>
                </div>
            </div>
            <div class="col-4 pe-0">
                <div class="rightnav text-right">
                    <button type="button" class="btn btn-secondary adv "> <i class="fas fa-plus"></i>  Advertisment</button>
                    <button type="button" class="btn btn-primary signin" [routerLink]="['../signin']"> <i class="far fa-user"></i> <span>Sign In</span></button>
                </div>
            </div>
        </div>
    </div>
</div>