<div class="modal-header">
    <div>
        <small class="modal-title pull-left"><i class="fas fa-puzzle-piece"></i> FLOOR PLANS
        </small><br>
        <small style="font-size: 10px;">Floor plans uploaded in this section will not be displayed on jeee1.com. To add floorplans for your listings on Bayut.com, please login to your Profolio account.</small>
    </div>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body ">
    <form method="get" action="">
        <!-- <div class="container-fluid ">
<img *ngFor='let url of urls' [src]="url" height="100px">
<input type="file" (change)="onselect($event)" multiple>
       </div> -->
        <div>
            <p>Drag & drop images to change order</p>
        </div>
        <div class="py-3">

        </div>
        <div>
            <button type="button" class="btn btn-primary btn-sm me-2"> <i class="fas fa-plus-circle"></i> Upload Floor Plans</button>
            <button type="button" class="btn btn-primary btn-sm"> <i class="fas fa-plus-circle"></i> Upload Floor Bank</button>
            <div style="font-size: 10px;">Press CTRL key while selecting files to upload multiple at once</div>
        </div>
    </form>

</div>
<div class="modal-footer d-flex">    
    <button type="button" class="btn btn-primary">DONE</button>
</div>