.object-container {
    object-fit: contain;
}
.contract .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: var(--primary);
}
.contract .nav-link {  
    color:var(--primary);   
}