<div class="row justify-content-center">
    <div class="col-8 py-5">
        <div>
            <div style="display: block;">
            <canvas baseChart width="400" height="200"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColors"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        ></canvas>
            </div>
          </div>
    </div>
</div>