<form #rentResidential="ngForm" class="sub-tab">
  {{rentResidential.value | json}}
  <div class="px-4 py-3 paddingsubtab">
      <div class="row w-100">
        <div class="col-3">
          <div class="row">
            <div class="col-6 p-0 m-0">
              <div class="tab-label">
                <label>City</label>
                <div class="dubai">
                  <ng-select [items]="cityList" name="city" appendTo="body" #city="ngModel" required
                  [(ngModel)]="rentResidentialUnit.city" placeholder="All City">
                </ng-select>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="tab-label">
                <label class="text-white text-start">Location</label>
                <div class="input-group">
                  <input type="text" aria-label="Last name" class="form-control" name="Location" 
                  #Location="ngModel" required [(ngModel)]="rentResidentialUnit.Location" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2">
          <div class="tab-label">
            <label class="text-white text-start">Property Type</label>
            <ng-select [items]="properyList" name="propertyType" appendTo="body" #propertyType="ngModel" required
            [(ngModel)]="rentResidentialUnit.propertyType" placeholder="All Type">
          </ng-select>
          </div>
        </div>
        <div class="col-2">
          <div class="tab-label">
            <label class="text-white text-start">Price Range</label>
          </div>
          <div class="price-range">
            <nav class="
                navbar navbar-expand-lg navbar-dark
                p-0
              ">
              <div class="container-fluid p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="
                          nav-link
                          text-darkdropdown-toggle
                        " href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Any
                        <i class="fas fa-caret-down"></i>
                      </a>
                      <ul class="
                          dropdown-menu
                          dropdown-menu-light
                        " aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                          <a class="dropdown-item">
                            <span>
                              <div class="row">
                                <div class="col">
                                  <label>min</label>
                                  <div >
                                    <input type="number" id="quantity" name="quantity" min="1"
                                      max="5" name="minPriceRange" #minPriceRange="ngModel" required
                                      [(ngModel)]="rentResidentialUnit.minPriceRange" /> &nbsp; &nbsp;<label>-</label>
                                  </div>
                                </div>
                                <div class="col">
                                  <label>max</label>
                                  <div >
                                    <input type="number" id="quantity" name="quantity" min="1"
                                      max="5" name="maxPriceRange"
                                      #maxPriceRange="ngModel" required [(ngModel)]="rentResidentialUnit.maxPriceRange"/>
                                  </div>
                                </div>
                              </div>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-2">
          <div class="tab-label">
            <label class="text-white text-start">Beds</label>
          </div>
          <div class="price-range">
            <nav class="
                navbar navbar-expand-lg navbar-dark
                p-0
              ">
              <div class="container-fluid p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="
                          nav-link
                          text-darkdropdown-toggle
                        " href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Any
                        <i class="fas fa-caret-down"></i>
                      </a>
                      <ul class="
                          dropdown-menu
                          dropdown-menu-light
                        " aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                          <a class="dropdown-item">
                            <span>
                              <div class="row">
                                <div class="col">
                                  <label>min Bedrooms</label>
                                  <ng-select [items]="bedList" name="minbed" appendTo="body" #minbed="ngModel" required
                                  [(ngModel)]="rentResidentialUnit.minbed">
                                </ng-select>
                                </div>
  
                                <div class="col">
                                  <label>max Bedrooms</label>
                                  <ng-select [items]="bedList" name="maxbed" appendTo="body" #maxbed="ngModel" required
                                  [(ngModel)]="rentResidentialUnit.maxbed">
                                </ng-select>
                                </div>
                              </div>
                            </span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-2">
          <div class="tab-label">
            <label class="text-white text-start"></label>
          </div>
          <div class="more">
            <nav class="
                navbar navbar-expand-lg navbar-dark
                p-0
              ">
              <div class="container-fluid p-0">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown"
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="
                          nav-link
                          text-darkdropdown-toggle
                        " href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                        <i class="fas fa-caret-down"></i>
                      </a>
                      <ul id="more-scroll" class="
                          dropdown-menu
                          dropdown-menu-light
                          p-4
                        " aria-labelledby="navbarDarkDropdownMenuLink">
                        <li>
                          <a class="dropdown-item">
                            <span>Amenities</span><br />
                            <div class="row">
                              <div class="col-7">
                                <div >
                                  <input type="checkbox" id="maids-room" name="maids-room"
                                    value="maids-room" name="maidsRoom" appendTo="body"
                                    #maidsRoom="ngModel" required [(ngModel)]="rentResidentialUnit.maidsRoom"/>&nbsp;
                                  <label for="maids-room">Maids Room</label><br />
                                  <input type="checkbox" id="heating" name="heating"
                                    value="heating"  name="heating" value="heating" #heating="ngModel"
                                    required [(ngModel)]="rentResidentialUnit.heating" />
                                  <label for="heating">
                                    Central A/C &
                                    Heating</label><br />
                                  <input type="checkbox" id="private-garden "
                                    name="private-garden " value="private-garden" name="privategarden" value="privategarden"
                                    #privategarden="ngModel" required [(ngModel)]="rentResidentialUnit.privategarden" />
                                  <label for="private-garden ">
                                    Private Garden </label><br />
                                  <input type="checkbox" value="private-gym" name="privategym" value="privategym"
                                    #privategym="ngModel" required [(ngModel)]="rentResidentialUnit.privategym" />
                                  <label for="private-gym">
                                    Private Gym </label><br />
                                  <input type="checkbox" #sharedpool="ngModel" required
                                  [(ngModel)]="rentResidentialUnit.sharedpool" name="sharedpool" />
                                  <label for="shared-pool">
                                    Shared Pool</label><br />
                                  <input type="checkbox" #sharedgym="ngModel" required
                                  [(ngModel)]="rentResidentialUnit.sharedgym" name="sharedgym" />
                                  <label for="shared-gym">
                                    Shared Gym</label><br />
                                  <input type="checkbox" id="concierge-service" #conciergeservice="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.conciergeservice" name="conciergeservice" />
                                  <label for="concierge-service">
                                    Concierge
                                    Service</label><br />
                                  <input type="checkbox" id="covered-parking"
                                  #coveredparking="ngModel" required
                                  [(ngModel)]="rentResidentialUnit.coveredparking" name="coveredparking" />
                                  <label for="covered-parking">
                                    Covered Parking </label><br />
                                  <input type="checkbox" id="Walk-in" name="Walk-in"
                                    value="Walk-in" #Walkin="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.Walkin" name="Walkin"/>
                                  <label for="Walk-in">
                                    Walk-in
                                    Closet</label><br />
                                  <input type="checkbox" id="view-Water" #viewWater="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.viewWater" name="viewWater"/>
                                  <label for="view-Water">
                                    View of Water</label><br />
                                  <input type="checkbox" id="pets-allowed" #petsallowed="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.petsallowed" name="petsallowed"/>
                                  <label for="pets-allowed">
                                    Pets Allowed</label><br />
                                  <br />
                                </div>
                              </div>
                              <div class="col-5">
                                <div>
                                  <input type="checkbox" #study="ngModel" required [(ngModel)]="rentResidentialUnit.study"
                                    name="study" value="study" />&nbsp;
                                  <label for="study">Study</label><br />
                                  <input type="checkbox" #balcony="ngModel" required [(ngModel)]="rentResidentialUnit.balcony"
                                    name="balcony" value="balcony" />
                                  <label for="balcony">
                                    Balcony</label><br />
                                  <input type="checkbox" #privatepool="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.privatepool" name="privatepool " value="privatepool" />
                                  <label for="private-pool ">Private Pool </label><br />
                                  <input type="checkbox" #privatejacuzzi="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.privatejacuzzi" name="privatejacuzzi" value="private-jacuzzi" />
                                  <label for="private-jacuzzi">
                                    Private Jacuzzi </label><br />
                                  <input type="checkbox" #sharedspa="ngModel" required [(ngModel)]="rentResidentialUnit.sharedspa"
                                    name="sharedspa" value="shared-spa" />
                                  <label for="shared-spa">
                                    Shared Spa</label><br />
                                  <input type="checkbox" id="security" #security="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.security" name="security" value="security" />
                                  <label for="security">
                                    Security</label><br />
                                  <input type="checkbox" id="maid-service" #maidservice="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.maidservice" name="maidservice" value="maid-service" />
                                  <label for="maid-service">
                                    Maid Service</label><br />
                                  <input type="checkbox" id="built-in-wardrobes" #builtinwardrobes="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.builtinwardrobes" name="builtinwardrobes"
                                    value="built-in-wardrobes" />
                                  <label for="built-in-wardrobes">
                                    Built-in Wardrobes </label><br />
                                  <input type="checkbox" id="built-kitchen-appliances" #builtkitchenappliances="ngModel"
                                    required [(ngModel)]="rentResidentialUnit.builtkitchenappliances" name="builtkitchenappliances"
                                    value="builtkitchenappliances" />
                                  <label for="built-kitchen-appliances">
                                    Built-in Kitchen
                                    Appliances</label><br />
                                  <input type="checkbox" id="view-of-landmark" #viewoflandmark="ngModel" required
                                    [(ngModel)]="rentResidentialUnit.viewoflandmark" name="viewoflandmark"
                                    value="view-of-landmark" />
                                  <label for="view-of-landmark">
                                    View of
                                    Landmark</label><br />
                                </div>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li>
                          <div>Keyword Search</div>
                          <div class="search-bar">
                            <input class="form-control me-2" type="search" name="keywordsearch" #keywordsearch="ngModel"
                              placeholder="Eg:Pool,Security,Ref ID Number"
                              aria-label="Search"  [(ngModel)]="rentResidentialUnit.keywordsearch"/>
                          </div>
                          <br />
                        </li>
                        <li>
                          <div>Listed By</div>
                          <a class="dropdown-item" href="#">
                            <div class="row">
                              <div class="col-6">
                                <div >
                                  <input type="checkbox" id="agent"  #Agent="ngModel" required [(ngModel)]="rentResidentialUnit.Agent"
                                  name="agent" />&nbsp;
                                  <label for="agent">Agent</label><br />
                                  <input type="checkbox" id="landlord"#landlord="ngModel" required
                                  [(ngModel)]="rentResidentialUnit.landlord" name="landlord" />
                                  <label for="landlord">Landlord</label><br />
                                </div>
                              </div>
                              <div class="col-6">
                                <div >
                                  <input type="checkbox" id="developer" name="developer" #developer="ngModel"
                                  [(ngModel)]="rentResidentialUnit.developer" value="developer"/>&nbsp;
                                  <label for="developer">Developer</label><br />
                                </div>
                              </div>
                            </div>
                          </a><br />
                        </li>
                        <li>
                          <div>Bathrooms</div>
                          <a class="dropdown-item">
                            <ng-select [items]="bedList" name="bathrooms" appendTo="body" #bathrooms="ngModel" required
                            [(ngModel)]="rentResidentialUnit.bathrooms" placeholder=" Any Bathrooms">
                          </ng-select><br />
                          </a>
                        </li>
                        <li>
                          <div>Size (Sqft)</div>
                          <a class="dropdown-item">
                            <span class="size">
                              <div class="row">
                                <div class="col">
                                  <label>min Bedrooms</label>
                                  <div >
                                    <input type="number" id="quantity" name="quantity" min="1"
                                      max="5" name="minbathrooms"  #minbathrooms="ngModel"
                                      required [(ngModel)]="rentResidentialUnit.minbathrooms"/>
                                    &nbsp; &nbsp; &nbsp;
                                    &nbsp;<label>-</label>
                                  </div>
                                </div>
  
                                <div class="col">
                                  <label>max Bedrooms</label>
                                  <div >
                                    <input type="number" id="quantity" name="quantity" min="1"
                                      max="5"  name="maxbathrooms" #minbathrooms="ngModel"
                                      [(ngModel)]="rentResidentialUnit.maxbathrooms" />
                                  </div>
                                </div>
                              </div>
                            </span>
                          </a>
                        </li>
                        <li>
                          <div>Real Estate Agent</div>
                          <a class="dropdown-item">
                            <div class="search-bar">
                              <input class="
                                  form-control
                                  me-2
                                " type="search" name="realestateAgent" #realestateAgent="ngModel" [(ngModel)]="rentResidentialUnit.realestateAgent" placeholder="Eg Property"
                                aria-label="Search" />
                            </div>
                            <br />
                          </a>
                        </li>
                        <li>
                          <div>Verified ads only</div>
                          <a class="dropdown-item">
                            <div >
                              <input type="checkbox" id="verified-ads-only"
                              name="verifiedadsonly" #verifiedadsonly="ngModel" [(ngModel)]="rentResidentialUnit.verifiedadsonly"
                              value="verified-ads-only" />&nbsp;
                              <label for="verified-ads-only">Verified ads
                                only</label><br />
                            </div>
                          </a><br />
                        </li>
                        <li>
                          <div>Ads with video only</div>
                          <a class="dropdown-item">
                            <div >
                              <input type="checkbox" id="ads-with-video-only"
                              name="adswithvideoonly"
                              value="ads-with-video-only" #adswithvideoonly="ngModel" [(ngModel)]="rentResidentialUnit.adswithvideoonly" />&nbsp;
                              <label for="ads-with-video-only">Ads with video
                                only</label><br />
                            </div>
                          </a><br />
                        </li>
                        <li>
                          <div>
                            Ads with 360 tour only
                          </div>
                          <a class="dropdown-item">
                            <div >
                              <input type="checkbox" id="ads-with-tour-only"
                              name="adswithtouronly" #adswithtouronly="ngModel" [(ngModel)]="rentResidentialUnit.adswithtouronly"
                              value="ads-with-tour-only" />&nbsp;
                              <label for="ads-with-tour-only">Ads with 360 tour
                                only</label><br />
                            </div>
                          </a><br />
                        </li>
                        <li>
                          <a class="dropdown-item">
                            <button type="button" class="btn btn-primary">
                              Search
                            </button> </a><br />
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
        <div class="col-1">
          <div class="tab-label">
            <label class="text-white text-start"></label>
            <button type="submit" class="btn btn-primary">
              Search
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>