h5.heading-add-listing{
    font-size: 12px;
}
h5.sub-heading-add-listing, .sub-heading-content{ 
    font-size: 12px;
}
.font-small ,.sub-heading-content .form-control{
    font-size: 12px!important;
}
.required{
 color: var(--primary);
}
.flex-align-center {
    align-items: center;
}
.add-list-unit input{
    width:100px;
}