<div class="py-5">
    <div class="container">
        <h5>Payment Methods</h5>
        <div class="border">
            <div class="p-4">
                <h4>Payment by Cheques</h4>
                <p class="fs-5 py-2">This payment method isn't configured with any contract(s).</p>
            </div>
        </div>
        <div class="border my-5">
            <div class="p-3 d-flex align-items-center justify-content-between" >
                <div class="d-flex align-items-center">
                    <img src="../../../../assets/bank/visa.png" height="50px" width="50px" class="object-fit">
                <p class="fs-4 pt-4 ps-2">**** **** ***5</p>
                <i class="fas fa-check-circle fs-4 pt-2 ps-2"></i>
                </div>
                <div>
                    <a href="#" class="link-primary">Delete</a>
                </div>
            </div>
        </div>
        <div class="border my-5">
            <div class=" p-3 d-flex align-items-center">
                <img src="../../../../assets/bank/visa.png" height="50px" width="50px" class="object-fit">
                    <p class="fs-4 pt-4 ps-2">**** **** *** 8885</p>
                    <i class="fas fa-check-circle fs-4 pt-2 ps-2"></i>
            </div>
            <p class="fs-5 ps-3"> This payment method is configured with contract(s) 14162 and 14417</p>
        </div>
        <!-- <div>
            <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
        </div> -->
    </div>
</div>