<div class="row  py-5">
    <div class="col">
        <div class="row justify-content-center py-5">
            <div class="col-3 mx-5">
                <div style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
            <div class="col-3 mx-5">
                <div style="display: block">
                    <div class="chart">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                            [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">
                        </canvas>
                    </div>
                </div>
            </div>
            <div class="col-3 mx-5">
                <div style="display: block">
                    <div class="chart">
                        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                            [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType">
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center py-5">
           <div class="col-8">
            <div style="display: block">
                <div style="display: block">
                    <canvas baseChart [datasets]="bubbleChartData" [options]="bubbleChartOptions"
                        [colors]="bubbleChartColors" [legend]="bubbleChartLegend" [chartType]="bubbleChartType">
                    </canvas>
                </div>
            </div>
           </div>
        </div>
    </div>
</div>