.bg-primary {
    background-color: var(--primary)!important;
}

div.job-list-type {
    border-left: 8px solid var(--primary);
}

.job-side-search {
    background: #eeeeee;
    padding: 43px;
    border-radius: 10px;
}